%btn-styles {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 10%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  transition: 0.5s;
  &:hover {
    background: rgba(0, 0, 0, 0.356);
    cursor: pointer;
    i {
      color: whitesmoke;
    }
  }
}

.carousel-control-prev {
  @extend %btn-styles;
}
.carousel-control-next {
  @extend %btn-styles;
}
