.about {
  .about__showcase {
    .about__logoimage {
      :hover {
        background: url ("../../../../assets/vd-logo.png");
      }
    }
  }
  .about__content {
    .about__content__title {
      font-size: 32px;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
}
@media (hover: hover) and (pointer: fine) {
  .about {
    .about__showcase {
      .about__logoimage {
        :hover {
          background: url("../../assets/vd-logo.png");
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .about {
    .about__showcase {
      .about__logoimage {
        max-width: 80%;
      }
    }
    .about__content {
      .about__content__title {
        margin-top: -70px;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  }
}
