.card {
  width: 20rem;
  margin: 20px auto;
  text-align: center;
  overflow: hidden;
  .card__image {
    transition: transform 500ms ease-in;
    &:hover {
      transform: scale(1.07);
    }
  }
  .card-body {
    background-color: black;
  }

  .card__title {
    font-weight: bold;
    color: #af231c;
  }
  .card__work {
    color: white;
  }

  .card__icon {
    margin: 10px;
    color: white;
    cursor: pointer;

    &:hover {
      color: #af231c;
    }
  }
}
