.cards {
  .card__container {
    overflow: hidden;
    .card__image {
      overflow: hidden;
      transition: all 1.5s ease-in-out;
      &:hover {
        transform: scale(1.15);
      }
    }
  }

  .event-opener {
    text-decoration: none;
    color: #af231c;
  }
  // .card__image {
  //   transition: all 1s ease-in-out;
  //   &:hover {
  //     transform: scale(1.05);
  //   }
  // }
  .card__body {
    background-color: black;
    .card__description {
      color: white;
      background-color: black;
    }
  }
}
