.contact__container {
  .form-group {
    input[type="text"] {
      background-color: #000000;
      color: white;
    }
    input[type="email"] {
      background-color: #000000;
      color: white;
    }
    textarea {
      background-color: #000000;
      color: white;
    }
  }
  .Link__Edit {
    color: white;
    text-decoration: none;
  }
}

@media only screen and (max-width: 600px) {
  .contact__container {
    .Link__Edit {
      .home__icon {
        width: 35px;
      }
      .home__desc {
        font-size: 5px;
      }
    }

    .mail {
      .mail__icons {
        width: 35px;
      }
      .home__desc {
        font-size: 5px;
      }
    }
  }
}
