.contact__container {
  .form-group {
    input[type="text"] {
      background-color: #000000;
      color: white;
    }
    input[type="email"] {
      background-color: #000000;
      color: white;
    }
    textarea {
      background-color: #000000;
      color: white;
    }
  }
  .Link__Edit {
    color: white;
    text-decoration: none;
  }
}
