.header {
  background-color: #000000;
  font-family: "Commissioner", sans-serif;

  .header__logo {
  }

  .header__option {
    padding: 0.5rem 1rem;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      color: #ffffff;
      background-color: #af231c;
    }
  }

  a.header__Lang.dropdown-item {
    &:hover {
      color: #ffffff;
      background-color: #000000;
    }
  }
  btn-primary:not(:disabled):not(.disabled).active:focus,
  .btn-primary:not(:disabled):not(.disabled):active:focus,
  .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none;
  }
  btn-primary.focus,
  .btn-primary:focus {
    box-shadow: none;
  }
  .header__Lang {
    padding: 0.5rem 1rem;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      color: #ffffff;
      background-color: #000000;
    }
  }

  .language_container {
    display: flex;
    width: 180px;
    color: white;
    align-items: center;
    border: 1px solid rgba(142, 142, 142, 0.5);
    border-radius: 10px;
    padding: 9px 12px;
  }

  // Bootstrap Styles

  #collasible-nav-dropdown {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
  }

  #collasible-nav-dropdown:hover {
    color: #f6ae2d;
  }

  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .custom-toggler.navbar-toggler {
    border-color: rgb(255, 255, 255);
  }

  .dropdown-menu {
    background-color: #33658a;
    .dropdown-item {
      color: rgb(255, 255, 255);
      font-weight: bold;

      &:hover {
        background-color: #33658a;
        color: #f6ae2d;
      }
    }

    .navbar-toggler-icon {
      color: white;
    }

    .dropdown-menu show {
      width: auto;
    }
  }
}
